body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    box-sizing: border-box;
    flex-shrink:1;
}

.title-header,
.calc-container {
    max-width: 440px;
    border: 2px solid red;
}


.display input {
    color: white;
    background-color: palevioletred;
    font-weight: 400;
    font-size: 35px;
    max-width: 9.3em;
    flex: 1 2;
    text-align: end;
    border: none;
    border-radius: 10px;
    margin:12px
}

.btn-group {
    display: flex;
    justify-content: center;
    flex:1 auto;
    padding: 1em;
}

.btn-group button {
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: yellowgreen;
    margin:5px;
    padding: 10px 20px;
    font-size: 18px;
    flex-shrink: 5;

}

.btn-group .digits-btn {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.btn-group .operator-btn {
    display: flex;
    flex-direction: column;
}

.btn-group .clear-btn-group {
    align-self: flex-start;
    max-width: 80px;
}

.btn-group .clear-btn-group button {
    background-color: maroon;
    max-width: 90%;
    padding: 10px 15px;
}



